
@{
    ViewBag.Title = "PokePicker";
}

<h2>PokePicker</h2>

<form action="SearchByName">
    <h3>Search Pokemon by Name</h3>
    <input type="text" name="pokeName"/>
    <input type="submit"/>
</form>

<br />

<form action="SearchByNumber">
    <h3>Search Pokemon by Number</h3>
    <input type="number" min="1" max="802" value="1" name="pokeNum"/>
    <input type="submit"/>
</form>
